<section id="page-home">
  <article ng-repeat="article in home.articles">
    <figure class="map">
      <img ng-src="{{ home.staticMapSrc(article.location.coordinates); }}">
    </figure>
    <section class="content">
      <h2>{{ article.title }}</h2>
      <time>Ocurrió {{ article.occurrence_date | timeAgo:'YYYY/mm/dd' }}</time>
      <div class="description">{{ article.description }}</div>
    </section>
    <div class="social">
      <a class="facebook" href="#">Facebook</a>
      <a class="twitter" href="#">Twitter</a>
      <a class="google-plus" href="#">G+</a>
    </div>
  </article>
</section>
