<section id="page-home" infinite-scroll="home.loadNextPage()" infinite-scroll-distance="3">
  <article ng-repeat="article in home.articles">
    <figure class="map">
      <img ng-src="{{ article.location.coordinates | staticMap }}">
    </figure>
    <section class="content">
      <h2>{{ article.title }}</h2>
      <time>Ocurrió {{ article.occurrence_date | timeAgo:'YYYY/mm/dd' }}</time>
      <div class="description">{{ article.description }}</div>
    </section>
    <div class="social">
      <a class="facebook" href="#">Facebook</a>
      <a class="twitter" href="#">Twitter</a>
      <a class="google-plus" href="#">G+</a>
    </div>
  </article>

  <img class="loading" src="/images/loading.gif" alt="loading" ng-if="home.loadingArticles" />
</section>
